body{
    background:  #121212;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    font-family: Fuentexd;
}
.contenedorDinamico{
    display: flex;
    background-color:  #191919 ;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 6px;
    padding: 10px 5px;
}

.redonda{
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.contenedorImagen{
    width: auto;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;

}
.nombre{
    display: flex;
    width: auto;
    height: auto;
    color: white;
    font-size: large;
    justify-content: center;
    margin-bottom: 9px;
}
.ubicacion{
    display: flex;
    margin:0px;
    color:  hsl(75, 94%, 57%);
    font-size: xx-small;
    justify-content: center;
}

.descripcion{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 30px;
    color: white;
    font-size: x-small;
    justify-content: center;
}

.Contenedor1{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.Contenedor1 .container {
    margin-top: 15px;   
    height: 265px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: space-around;
}
button {
    width: 255px;
    height: 40px;
    border: 1px solid #323232 ;
    background: #323232 ;
    color: rgb(255, 255, 255);
    font-size: small;
    border-radius: 6px;
    transition: background-color 0.8s;
}

button:hover{
    background-color: rgb(134, 199, 36);
}

.attribution{
    margin-top: 10px;
    color: white;
    font-size: xx-small;
}

@font-face {
    font-family: 'Fuentexd';
    src: url(Inter-VariableFont_slnt,wght.ttf);
}