body{
    background: rgb(23, 23, 23);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.contenedorDinamico{
    display: flex;
    background-color: rgb(33, 32, 32);
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenedorImagen{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    border-radius: 100%;
}
.nombre{
    width: auto;
    height: auto;
    
    color: white;

}
.ubicacion{
    color: greenyellow;
}
.Contenedor1{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.Contenedor1 .container {
    height: 150PX;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: space-around;
}
button {
    width: 250px;
    height: 25px;
    background: rgb(72, 72, 72);
    color: rgb(255, 255, 255);
}

